<nav class="navbar navbar-expand-md navbar-green mb-4">
  <div class="container-fluid">
    <h1 class="leaf">Leaf🍃</h1>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active navtab" aria-current="page" href="/notehome">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link navtab" href="/compose">Compose</a>
        </li>
      </ul>
      <a href="/logout" role="button" class="btn btn-lg btn-success">Logout</a>
    </div>
  </div>
</nav>
